.capUi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{
    margin-left: 5px;
    margin-right: 5px;
    padding:10px;
    border-radius: 10px;
    border: white 1px;
}


